/* Themes and default */
:root {
    --primary-dark: rgb(51, 44, 44);
    --primary-light: #97949498;
    --background: rgb(134, 196, 155);
    --secondary-light: #e7dcdc;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: var(--background);
    color: var(--primary-dark);
    font-family: 'Lucida Console', sans-serif;
        /* footer support */
    margin-bottom: 70px;
  }
    
  html {
      /* For footer support */
      position: relative;
      min-height: 80%;
    
  }
  
  button,
  input {
    width: 100%;
    background-color: var(--);
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  /* Header */
  .header {
    padding: 26px 0;
  }
  
  /* Main */
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto;
  }
  
  .device {
    display: flex;
    background-color: var(--primary-dark);
    width: 500px;
    height: 700px;
    border: 6px black solid;
    border-radius: 18px;
    box-shadow: var(--primary-light) 36px 24px;
    }
  

  
  /* Footer */
   footer {
      position: absolute;
      color:var(--primary-dark);
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      font-size: 16px;
    }
  
  .am-github {
      text-decoration: none;
      color: inherit;
      transition: transform 0.3s ease-in-out;
  }
  .am-github:hover {
      transform: scale(1.25);
  }
  