/* Themes and default */
:root {
    --primary-dark: rgb(51, 44, 44);
    --primary-light: rgb(110, 189, 107);
    --background: rgb(134, 196, 155);
    --secondary-light: #97949498;;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: var(--background);
    color: var(--primary-dark);
    font-family: 'Courier New', monospace;
        /* footer support */
    margin-bottom: 70px;
  }
    
  html {
      /* For footer support */
      position: relative;
      min-height: 80%;
    
  }
  
  /* button,
  input {
    width: 100%;
    background-color: var(--);
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  } */
  
  /* Header */
  .header {
    padding: 26px 0;
  }
  
  /* Main */
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto;
  }
  
  .device {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--primary-dark);
    width: 500px;
    height: 700px;
    border: 6px black solid;
    border-radius: 18px;
    box-shadow: var(--secondary-light) 36px 24px;
    }

  .screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
    width: 400px;
    background-color: var(--secondary-light);
    margin-top: 40px;
    border-radius: 18px;
    border: 3px black solid;
  }

  .history {
    color: var(--primary-light);

  }

  .input {
    color: var(--primary-light);
    font-size: ;
  }
  

  
  /* Footer */
   footer {
      position: absolute;
      color:var(--primary-dark);
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      font-size: 16px;
    }
  
  .am-github {
      text-decoration: none;
      color: inherit;
      transition: transform 0.3s ease-in-out;
  }
  .am-github:hover {
      transform: scale(1.25);
  }
  